<tr>
		<td><%= @content.commenter %></td>
		<td><%= @content.body %></td>
		<td><%= @content.id %></td>
		<td>
		<button type="button" class="btnclk" data-key=	<%="#{@content.id}"%> > Delete </button>
		</td>	
		 

</tr>